.blog-footer__form {
  margin: 0 1rem;
}

@media screen and (min-width: 768px) {
  .blog-footer__form {
    margin: 0 auto;
    width: 500px;
  }
}

.blog-header__inner {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1240px;
}

.header__column {
  display: flex;
}

.header__row-1 {
  width: 300px;
  padding: 0;
  height: 70px;
  order: 1;
}

.header__row-2 {
  width: auto;
  order: 0;
}